<a href="https://colab.research.google.com/github/va11h411a/Trying_Python_PBO_2/blob/main/Jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Number (int, float, complex)

#int/integer
angka_int = 1
print("angka int=", angka_int, "==", type(angka_int))
print('integer merupakan sebuah jenis data yang berisikan bilangan Bulat')
print('')

#float
angka_float  = 1.1
print("angka float", angka_float, "==", type(angka_float))
print('integer merupakan sebuah jenis data yang berisikan bilangan decimal')
print('')

#complex
angka_complex = 5 + 2j
print('angka complex', angka_complex, '==', type(angka_complex))
print('integer merupakan sebuah jenis data yang berisikan bilangan rill dan Imajiner')
print('')

angka int= 1 == <class 'int'>
integer merupakan sebuah jenis data yang berisikan bilangan Bulat

angka float 1.1 == <class 'float'>
integer merupakan sebuah jenis data yang berisikan bilangan decimal

angka complex (5+2j) == <class 'complex'>
integer merupakan sebuah jenis data yang berisikan bilangan rill dan Imajiner

In [ ]:
#boolean

Activated = True
print('Is that activated already?', Activated, '==', type(Activated))
print('boolean merupakan sebuah jenis data yang berisikan nilai true dan false')

Is that activated? True == <class 'bool'>
boolean merupakan sebuah jenis data yang berisikan nilai true dan false

In [ ]:
#string

teks = 'hello world'
print('opening',teks, '==', type(teks))
print('string merupakan sebuah jenis data yang berisikan karakter atau kata')

opening hello world == <class 'str'>
string merupakan sebuah jenis data yang berisikan karakter atau kata

In [ ]:
#List

daftar = ["semangka", "melon", "pisang"]
print('buah yang tersedia', daftar, '==', type(daftar))
print('list merupakan sebuah jenis data yang memiliki banyak data')

buah yang tersedia ['semangka', 'melon', 'pisang'] == <class 'list'>
list merupakan sebuah jenis data yang memiliki banyak data

In [ ]:
#Tuple

Tuple = (10, 11, 12)
print('urutan angka yang benar', Tuple, '==', type(Tuple))
print('tuple merupakan sebuah jenis data yang terurut dan tidak dapat diubah')

urutan angka yang benar (10, 11, 12) == <class 'tuple'>
tuple merupakan sebuah jenis data yang terurut dan tidak dapat diubah

In [ ]:
#Dictionary

Data_barang = {
    'nama' : 'Chitato',
    'Jenis barang': 'Snack',
    'Harga' : 'Rp 7500'
}
print('nama barang', Data_barang, "==", type(Data_barang))
print('dictionary merupakan jenis data yang menyimpan data dalam bentuk key-value')

nama barang {'nama': 'Chitato', 'Jenis barang': 'Snack', 'Harga': 'Rp 7500'} == <class 'dict'>
dictionary merupakan jenis data yang menyimpan data dalam bentuk key-value

In [ ]:
#Set

Set = {1,4,2,3,5}
print('urutan yang benar', Set, '==', type(Set))
print('set merupakan jenis data yang tidak terurut dan unik (tiap elemen hanya muncul sekali)')

urutan yang benar {1, 2, 3, 4, 5} == <class 'set'>
set merupakan jenis data yang tidak terurut dan unik (tiap elemen hanya muncul sekali)

In [ ]:
#contoh konversi nilai data

nilai_str = '250'
print('nilai str', nilai_str, '==', type(nilai_str))
print('')

nilai_int = int(nilai_str)
print ('hasil konversi', nilai_int, '==', type(nilai_int))
print('')

print('jenis data dari angka 250 berubah dari string manjadi integer')

nilai str 250 == <class 'str'>

hasil konversi 250 == <class 'int'>

jenis data dari angka 250 berubah dari string manjadi integer

In [ ]:
#variable declare
nama = "budi"
umur = 20
tinggi = 172
is_student = True

print ('nama =', nama)
print ('umur =', umur)
print ('tinggi =', tinggi)
print ('murid polines?', is_student)
print('')

print('python  tidak memerlukan deklarasi tipe data secara eksplisit.')
print('Tipe data variabel akan menyesuaikan nilai yang diberikan.')

nama = budi
umur = 20
tinggi = 172
murid polines? True

python  tidak memerlukan deklarasi tipe data secara eksplisit.
Tipe data variabel akan menyesuaikan nilai yang diberikan.

In [ ]:
#operasi aritmatika

a = 11
b = 3

penjumlahan = a + b  # Tambah
pengurangan = a - b  # Kurang
perkalian = a * b    # Kali
pembagian = a / b	# Bagi (hasil float)
pembagian_bulat = a // b # Bagi (bulat)
modulus = a % b	# Sisa bagi
pangkat = a ** b	# Pemangkatan

print("OPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

print('\noperasi aritmatika pada python memiliki proses yang sama dengan bahasa yang lain \ntetapi dengan kemudahan pada pyton yang tidak memerlukan \nadanya deklarasi sehingga data numreic dapat langsung dihitung.')
print('Dengan menggunakan operator yang tersedia hal ini membuat kita bisa melakukan \npenjumlahan, pengurangan, perkalian, pembagian, pemangkatan, \ndan lain sebagainya.')

OPERASI ARITMETIKA
a = 11 , b = 3
Penjumlahan = 14
Pengurangan = 8
Perkalian = 33
Pembagian = 3.6666666666666665
Pembagian Bulat = 3
Modulus = 2
Pangkat = 1331

operasi aritmatika pada python memiliki proses yang sama dengan bahasa yang lain
tetapi dengan kemudahan pada pyton yang tidak memerlukan
adanya deklarasi sehingga data numreic dapat langsung dihitung
dengan menggunakan operator yang tersedia hal ini membuat kita bisa melakukan
penjumlahan, pengurangan, perkalian, pembagian, pemangkatan,
dan lain sebagainya.

In [ ]:
#Operasi Logika 57: # and, or, not

x = True
y = False

logika_and = x and y
logika_or = x or y
logika_not_x = not x

print("\nOPERASI LOGIKA")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not_x)

print('\nOperasi Logika sendiri di pyton juga sama, kita bisa memanfaatkan opeator \nyang tersedia untuk melakukan operasi logika seperti and, or, dan not.')

OPERASI LOGIKA
x = True , y = False
x and y = False
x or y = True
not x = False

Operasi Logika sendiri di pyton juga sama, kita bisa memanfaatkan opeator
yang tersedia untuk melakukan operasi logika seperti and, or, dan not.

In [ ]:
#Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama = a != b
lebih_besar_sama = a >= b
kurang_sama = a <= b

print("\nOPERASI PERBANDINGAN")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama)
print("a >= b =", lebih_besar_sama)
print("a <= b =", kurang_sama)

print('\n Operasi perbandingan digunakan untuk membandingkan dua data dan menampilkannya dalam data boolean')

OPERASI PERBANDINGAN
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

 Operasi perbandingan digunakan untuk membandingkan dua data dan menampilkannya dalam data boolean

In [ ]:
#Contoh penggunaan di dalam percabangan
if a > b and b > 0:
  print("\nKondisi terpenuhi: a lebih besar dari b, dan b masih positif.")
else:
  print("\nKondisi tidak terpenuhi atau b <= 0.")

print('')

Kondisi terpenuhi: a lebih besar dari b, dan b masih positif.

In [5]:
#IF Sederhana
nilai = 81

print("Contoh IF Sederhana:")
if nilai > 80:
  print("Selamat! Anda lulus dengan nilai tinggi.\n")

print('\n if sederhana membuat suatu program hanya dapat berlanjut jika syarat terpenuhi')

Contoh IF Sederhana:
Selamat! Anda lulus dengan nilai tinggi.


 if sederhana membuat suatu program hanya dapat berlanjut jika syarat terpenuhi

In [7]:
#IF-ELSE

umur = 17
print("Contoh IF-ELSE:")

if umur >= 18:
	print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
	print("Anda belum cukup umur untuk mendapatkan SIM.\n")

print('\nSama saja dengan program sebelumnya tetapi kali ini apabila suatu syarat tidak terpenuhi\n maka program akan menjalankan hasil yang lainnya')

Contoh IF-ELSE:
Anda belum cukup umur untuk mendapatkan SIM.


Sama saja dengan program sebelumnya tetapi kali ini apabila suatu syarat tidak terpenuhi
 maka program akan menjalankan hasil yang lainnya

In [8]:
#IF-ELIF-ELSE

hari = "Rabu"

print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
	print("Hari Senin - Saatnya kembali bekerja!")
elif hari == "Selasa":
	print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
	print("Hari Rabu - Ada diskon di beberapa toko.")
else:
	print("Hari lainnya - Atur jadwalmu dengan baik.\n")

print('\nkali ini if memiliki banyak syarat secara berurutan, sehinggga kondisi yang\nada akan dicek secara beruntun dari beberapa syarat yang ada.')

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko.

kali ini if memiliki banyak syarat secara berurutan, sehinggga kondisi yang
ada akan dicek secara beruntun dari beberapa syarat yang ada.

In [9]:
#IF Bersarang (Nested IF)
# Kondisi di dalam kondisi, biasa digunakan jika kita perlu 42: # memeriksa sub-kondisi setelah kondisi pertama terpenuhi. 43:
suhu = 35
print("Contoh IF Bersarang (Nested IF):")
if suhu > 30:
  print("Cuaca cukup panas.")
  if suhu > 40:
	  print("Bahkan sangat terik! Disarankan banyak minum air.")
  else:
    print("Masih relatif normal, tapi tetap jaga kesehatan.")
else:
	  print("Cuaca sepertinya cukup sejuk.\n")

print('\nkondisi yang sudah melewati syarat pertama akan dicek lagi dengan syarat \nberbeda apabila memenuhi syarat pertama')

Contoh IF Bersarang (Nested IF):
Cuaca cukup panas.
Masih relatif normal, tapi tetap jaga kesehatan.

kondisi yang sudah melewati syarat pertama akan dicek lagi dengan syarat
berbeda apabila memenuhi syarat pertama

In [ ]:
#Menggabungkan Percabangan dengan Operasi Logika

nilai_teori = 75
nilai_praktik = 80

print("Contoh IF dengan Operasi Logika AND/OR:")
if nilai_teori >= 70 and nilai_praktik >= 70:
  print("Anda lulus karena nilai teori dan praktik memadai.")
elif nilai_teori < 70 and nilai_praktik < 70:
  print("Anda perlu meningkatkan nilai teori dan praktik.")
elif nilai_teori < 70:
  print("Anda perlu meningkatkan nilai teori.")
else:
  print("Anda perlu meningkatkan nilai praktik.\n")

Contoh IF dengan Operasi Logika AND/OR:
Anda lulus karena nilai teori dan praktik memadai.

In [12]:
#Penggunaan If Ternary (atau Conditional Expression)

angka = -5
print("Contoh If Ternary (Conditional Expression):")
status = "Positif" if angka > 0 else "Negatif atau Nol"
print("Angka =", angka, "=>", status)
print('\nbentuk lebih ringkas dari is biasa')

Contoh If Ternary (Conditional Expression):
Angka = -5 => Negatif atau Nol

bentuk lebih ringkas dari is biasa

In [ ]:
#FOR Loop dengan range()
print("1) FOR loop dengan range()")
for i in range(5):
  print("Perulangan ke-", i)

print('\nloop akan membuat program mengulang sebanyak range yang ditentukan')

1) FOR loop dengan range()
Perulangan ke- 0
Perulangan ke- 1
Perulangan ke- 2
Perulangan ke- 3
Perulangan ke- 4

In [13]:
# FOR Loop untuk mengiterasi List
print("2) FOR loop mengiterasi list")
buah = ["apel", "mangga", "jeruk", "pisang"]
for item in buah:
	print("Buah:", item)

print('\nakan mengulang hingga sebanyak banyak data pada list')

2) FOR loop mengiterasi list
Buah: apel
Buah: mangga
Buah: jeruk
Buah: pisang

In [17]:
# WHILE Loop
print("3) WHILE loop sederhana")
count = 0
while count < 5:
	print("count =", count)
	count += 1 # increment
print('\n pengulangan akan terjadi hingga nilai memnuhi syarat')

3) WHILE loop sederhana
count = 0
count = 1
count = 2
count = 3
count = 4

 pengulangan akan terjadi hingga nilai memnuhu syarat

In [25]:
#BREAK pada Loop
print("4) BREAK di dalam loop")
for i in range(10):
  if i == 4:
    print("Loop dihentikan pada i =", i)
    break
  print("i =", i)
print('\nlooping kali ini akan berhenti ketika syarat terpenuhi')

4) BREAK di dalam loop
i = 0
i = 1
i = 2
i = 3
Loop dihentikan pada i = 4

looping kali ini akan berhenti ketika syarat terpenuhi

In [30]:
# CONTINUE pada Loop
print("5) CONTINUE di dalam loop")
for i in range(5):
    if i == 2:
      print("Lewati i =", i, "dengan continue")
      continue
    print("i =", i)
# Saat i = 2, baris print("i =", i) tidak akan dieksekusi
print('\nContinue digunakan untuk melewatkan sisa kode dalam iterasi saat ini dan langsung lanjut \nke iterasi berikutnya.Berbeda dengan break yang menghentikan perulangan, \ncontinue tidak menghentikan perulangan.')

5) CONTINUE di dalam loop
i = 0
i = 1
Lewati i = 2 dengan continue
i = 3
i = 4

Continue digunakan untuk melewatkan sisa kode dalam iterasi saat ini dan langsung lanjut
ke iterasi berikutnya.Berbeda dengan break yang menghentikan perulangan,
continue tidak menghentikan perulangan.

In [33]:
#NESTED Loop (Loop Bersarang)
print("6) NESTED loop")
for i in range(3):	# Loop luar (outer loop)
  for j in range(2):	# Loop dalam (inner loop)
	  	print(f"i={i}, j={j}")
# Pada setiap iterasi i, loop j akan berjalan dari 0 sampai 1
print('\nmerupakan bentuk loop yang ada di dalam loop lainnya inner loop akan \ndiselesaikan terlebih dahulu, sebelum kembali mengulang outer loop')

6) NESTED loop
i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

merupakan bentuk loop yang ada di dalam loop lainnya inner loop akan
diselesaikan terlebih dahulu, sebelum kembali mengulang outer loop

In [34]:
#Memanfaatkan ELSE pada Loop
print("7) ELSE pada loop for/while")
# Python memiliki fitur unik: blok else pada loop
# Blok else akan dieksekusi jika loop selesai tanpa di-break. 66:
for x in range(3):
	print("x =", x)
else:
	print("Loop for telah selesai tanpa break.\n")
y = 0
while y < 3:
  print("y =", y)
  y += 1
else:
  print("Loop while telah selesai tanpa break.\n")

print('\ndengan memanfaatkan else maka pengulangan for yangg berbeda dapat dilanjutkan tanpa ada break')

7) ELSE pada loop for/while
x = 0
x = 1
x = 2
Loop for telah selesai tanpa break.

y = 0
y = 1
y = 2
Loop while telah selesai tanpa break.


dengan memanfaatkan else maka pengulangan for yangg berbeda dapat dilanjutkan tanpa ada break

In [36]:
#PASS sebagai placeholder
print("8) PASS (placeholder)")
for i in range(3):
  if i == 1:
    pass # pass tidak melakukan apa-apa, digunakan sebagai placeholder
print("i =", i)

print ('\nplaceholder digunakan untuk kita dapat membuat struktur loop dahulu tanpa harus mengisinya dengan logika')

8) PASS (placeholder)
i = 2

placeholder digunakan untuk kita dapat membuat struktur loop dahulu tanpa harus mengisinya dengan logika

In [ ]:
def calculate_bmi(weight, height):
    """
    Calculate the Body Mass Index (BMI).

    Args:
        weight (float): Weight in kilograms.
        height (float): Height in meters.

    Returns:
        float: The BMI value.
    """
    return weight / ((height/100) ** 2)

def main():
    print("BMI Calculator")
    try:
        weight = float(input("Enter your weight (kg): "))
        height = float(input("Enter your height (m): "))

        if height <= 0 or weight <= 0:
            print("Height and weight must be positive values.")
            return

        bmi = calculate_bmi(weight, height)
        print(f"Your BMI is: {bmi:.2f}")

        if bmi < 18.5:
            print("Category: Underweight")
        elif 18.5 <= bmi < 24.9:
            print("Category: Normal weight")
        elif 25 <= bmi < 29.9:
            print("Category: Overweight")
        else:
            print("Category: Obesity")

    except ValueError:
        print("Please enter valid numerical values.")

if __name__ == "__main__":
    main()

BMI Calculator
Enter your weight (kg): 50
Enter your height (m): 157
Your BMI is: 20.28
Category: Normal weight

In [ ]:
def is_odd(number):
    """Check if a number is odd."""
    return number % 2 != 0

def is_even(number):
    """Check if a number is even."""
    return number % 2 == 0

def is_prime(number):
    """
    Check if a number is prime.

    Args:
        number (int): The number to check.

    Returns:
        bool: True if the number is prime, False otherwise.
    """
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

def main():
    print("Number Type Checker")
    try:
        number = int(input("Enter an integer: "))

        if is_even(number):
            print(f"{number} is an even number.")
        else:
            print(f"{number} is an odd number.")

        if is_prime(number):
            print(f"{number} is also a prime number.")
        else:
            print(f"{number} is not a prime number.")

    except ValueError:
        print("Please enter a valid integer.")

if __name__ == "__main__":
    main()

Number Type Checker
Enter an integer: 1313
1313 is an odd number.
1313 is not a prime number.