<a href="https://colab.research.google.com/github/va11h411a/Trying_Python_PBO_2/blob/main/Jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#1 Number (int, float, complex)

#int/integer
angka_int = 1
print("angka int=", angka_int, "==", type(angka_int))
print('integer merupakan sebuah jenis data yang berisikan bilangan Bulat')
print('')

#float
angka_float  = 1.1
print("angka float", angka_float, "==", type(angka_float))
print('integer merupakan sebuah jenis data yang berisikan bilangan decimal')
print('')

#complex
angka_complex = 5 + 2j
print('angka complex', angka_complex, '==', type(angka_complex))
print('integer merupakan sebuah jenis data yang berisikan bilangan rill dan Imajiner')
print('')

angka int= 1 == <class 'int'>
integer merupakan sebuah jenis data yang berisikan bilangan Bulat

angka float 1.1 == <class 'float'>
integer merupakan sebuah jenis data yang berisikan bilangan decimal

angka complex (5+2j) == <class 'complex'>
integer merupakan sebuah jenis data yang berisikan bilangan rill dan Imajiner

In [15]:
#boolean

Activated = True
print('Is that activated already?', Activated, '==', type(Activated))
print('boolean merupakan sebuah jenis data yang berisikan nilai true dan false')

Is that activated? True == <class 'bool'>
boolean merupakan sebuah jenis data yang berisikan nilai true dan false

In [17]:
#string

teks = 'hello world'
print('opening',teks, '==', type(teks))
print('string merupakan sebuah jenis data yang berisikan karakter atau kata')

opening hello world == <class 'str'>
string merupakan sebuah jenis data yang berisikan karakter atau kata

In [19]:
#List

daftar = ["semangka", "melon", "pisang"]
print('buah yang tersedia', daftar, '==', type(daftar))
print('list merupakan sebuah jenis data yang memiliki banyak data')

buah yang tersedia ['semangka', 'melon', 'pisang'] == <class 'list'>
list merupakan sebuah jenis data yang memiliki banyak data

In [21]:
#Tuple

Tuple = (10, 11, 12)
print('urutan angka yang benar', Tuple, '==', type(Tuple))
print('tuple merupakan sebuah jenis data yang terurut dan tidak dapat diubah')

urutan angka yang benar (10, 11, 12) == <class 'tuple'>
tuple merupakan sebuah jenis data yang terurut dan tidak dapat diubah

In [26]:
#Dictionary

Data_barang = {
    'nama' : 'Chitato',
    'Jenis barang': 'Snack',
    'Harga' : 'Rp 7500'
}
print('nama barang', Data_barang, "==", type(Data_barang))
print('dictionary merupakan jenis data yang menyimpan data dalam bentuk key-value')

nama barang {'nama': 'Chitato', 'Jenis barang': 'Snack', 'Harga': 'Rp 7500'} == <class 'dict'>
dictionary merupakan jenis data yang menyimpan data dalam bentuk key-value

In [27]:
#Set

Set = {1,4,2,3,5}
print('urutan yang benar', Set, '==', type(Set))
print('set merupakan jenis data yang tidak terurut dan unik (tiap elemen hanya muncul sekali)')

urutan yang benar {1, 2, 3, 4, 5} == <class 'set'>
set merupakan jenis data yang tidak terurut dan unik (tiap elemen hanya muncul sekali)

In [29]:
#contoh konversi nilai data

nilai_str = '250'
print('nilai str', nilai_str, '==', type(nilai_str))
print('')

nilai_int = int(nilai_str)
print ('hasil konversi', nilai_int, '==', type(nilai_int))
print('')

print('jenis data dari angka 250 berubah dari string manjadi integer')

nilai str 250 == <class 'str'>

hasil konversi 250 == <class 'int'>

jenis data dari angka 250 berubah dari string manjadi integer